{% extends "account/_general.html" %}
{% load static %}

{% block title %}Password Reset{% endblock title %}


{% block hero %}Email has Sent Successfully&#33;{% endblock hero %}

{% block section %}
<!-- section start -->
<section>
    <div class="container text-center align-content-center mt-5">
        <p class="fw-bold w-50 mx-auto">We have sent you an email. If you have not received it please check
            your
            spam folder.
            Otherwise contact us if you do not receive it in a few minutes.</p>
        <a href="https://mail.google.com/" class="submit-btn" type="submit">Check My Email</a>
    </div>
</section>
<!-- section end -->
{% endblock section %}