{% extends "account/_general.html" %}
{% load static %}

{% block title %}Password Reset{% endblock title %}


{% block hero %}Password has Reset Successfully&#33;{% endblock hero %}

{% block section %}
<!-- section start -->
<section>
    <div class="container text-center align-content-center mt-5">
        <p class="fw-bold w-50 mx-auto">Now you can log in using the new password</p>
        <a href="{% url 'account_login' %}" class="submit-btn" type="submit">Log In</a>
    </div>
</section>
<!-- section end -->
{% endblock section %}