{% extends "account/_general.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}


{% block hero %}Password Reset{% endblock hero %}

{% block section %}
<!-- Form section start -->
<section>
    <div class="container text-center align-content-center mt-5">
        <h4 style="color: var(--clr-theme);">Forgotten your password&#63; </h4>
        <p class="fw-bold mt-3">Enter your email address below, and we'll send you
            an
            email allowing you to reset it.</p>
    </div>
    <form method="post" class="container mt-5 form-content" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <button class="submit-btn" type="submit">Reset My Password</button>
    </form>
</section>
<!-- Form section end -->
{% endblock section %}