{% extends 'bloodbank/general/_general.html' %}

{% load static %}

{% block title %}Donation Details{% endblock title %}

{% block path %}Donation Details{% endblock path %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/bloodbank/detail.css' %}">
{% endblock head %}

{% block content %}

<section>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-nowrap mb-4">
            <h4 class="page-title">Donation Details</h4>
        </div>
        <div class="flex-nowrap">
            <a href="{% url 'donation-edit' object.pk %}" class="general-btn">Edit</a>
            <a href="{% url 'donation-delete' object.pk %}" class="general-btn">Delete</a>
            <a href="{% url 'donor-edit' object.donor.id %}" class="general-btn">Donor</a>
        </div>
    </div>
    <div class="container">
        <h4 class="label">Name</h4>
        <p class="data">{{object.donor.donor_name}}</p>

        <h4 class="label">Gender</h4>
        <p class="data">{{object.donor.donor_gender}}</p>

        <h4 class="label">Age</h4>
        <p class="data">{{object.donor.age}}</p>

        <h4 class="label">Blood Group</h4>
        <p class="data">{{object.blood_group.group_name}}</p>

        <h4 class="label">Volume</h4>
        <p class="data">{{object.donation_volume}} &dash; ml</p>

        <h4 class="label">Residual Volume</h4>
        <p class="data">{{object.residual_volume}} &dash; ml</p>

        <h4 class="label">Trnasfusion Date</h4>
        <p class="data">{{object.transfusion_date}}</p>

        <h4 class="label">Status</h4>
        {% if object.status == '1' %}
        <p class="data">Valid</p>
        {% else %}
        <p class="data">Invalid</p>
        {% endif %}
    </div>
</section>

{% endblock content %}