{% extends 'bloodbank/general/_general.html' %}

{% load static %}

{% block title %}Request Details{% endblock title %}

{% block path %}Request Details{% endblock path %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/bloodbank/detail.css' %}">
{% endblock head %}

{% block content %}

<section>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-nowrap mb-4">
            <h4 class="page-title">Request Details</h4>
        </div>
        <div class="flex-nowrap">
            <a href="{% url 'request-edit' object.pk %}" class="general-btn">Edit</a>
            <a href="{% url 'request-delete' object.pk %}" class="general-btn">Delete</a>
        </div>
    </div>
    <div class="container">

        <h4 class="label">ID Number</h4>
        <p class="data">{{object.patient.id_num}}</p>

        <h4 class="label">Name</h4>
        <p class="data">{{object.patient.patient_name}}</p>

        <h4 class="label">Gender</h4>
        <p class="data">{{object.patient.patient_gender}}</p>

        <h4 class="label">Age</h4>
        <p class="data">{{object.patient.age}}</p>

        <h4 class="label">Blood Group</h4>
        <p class="data">{{object.blood_group.group_name}}</p>

        <h4 class="label">Volume</h4>
        <p class="data">{{object.volume}} &dash; ml</p>

        <h4 class="label">Trnasfusion Date</h4>
        <p class="data">{{object.transfusion_date}}</p>
    </div>
</section>

{% endblock content %}