{% extends 'bloodbank/general/_general.html' %}

{% load static %}

{% block title %}Requests{% endblock title %}

{% block path %}Requests{% endblock path %}

{% block content %}

<section>
    <div class="d-flex flex-column flex-sm-row justify-content-between mb-4">
        <div class="mb-4">
            <h4 class="page-title">Requests</h4>
        </div>
        <div>
            <a href="{% url 'request-new' %}" class="general-btn"><i class="fs-6 fa-solid fa-plus"></i> Add New</a>
        </div>
    </div>

    <!-- Search Form -->
    <form class="d-flex flex-column flex-lg-row justify-content-between form-content row-gap-4" method="get"
        action="{% url 'request-list' %}" id="donation">

        <div class="flex-grow-1">
            <input type="search" class="form-control" name="q" placeholder="Enter Patient Name!" aria-label="Search">
        </div>
        <div class="flex-grow-1 text-center">
            <input type="submit" class="submit-btn flex-grow-1 w-75" value="Search">
        </div>
    </form>
    <!-- Search Form -->

    <!-- Table -->
    <div class="table-responsive mt-3">
        <table class="table table-hover text-center table-responsive mt-4">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Volume</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                {% for p in object_list %}
                <tr>
                    <td>{{p.patient_name}}</td>
                    <td>{{p.patient_phone}}</td>
                    <td>{{p.patient_gender}}</td>
                    <td>{{p.patient_age}}</td>
                    <td class="text-uppercase">{{p.blood_group.group_name}}</td>
                    <td>{{p.volume}} &dash; L</td>
                    <td><a href="{% url 'request-detail' p.pk %}" style="color: var(--clr-theme);">Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Table -->
</section>

{% endblock content %}