{% extends 'bloodbank/general/_general.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Transfusion Details{% endblock title %}

{% block path %}Transfusion Details{% endblock path %}

{% block content %}

<section>
    <h4 class="page-title mb-4">Transfusion Details</h4>
    <h6>Donations from which blood has been taken</h6>
    <form method="post" class="container mt-5 form-content" novalidate> {%csrf_token %}
        {{form|crispy}}
        <button class="submit-btn mt-3" type="submit">Update</button>
        <button class="submit-btn mt-3" type="submit" name="save_and_add_another" value="1">Update and Add
            Another</button>
    </form>
</section>

{% endblock content %}