/* Hero Section */
.hero-section {
    background: url('/static/icons/pages/aboutus/hero-section.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    z-index: 100;
    position: relative;
    top: 30%;
}
/* Hero Section */

/* Mission Section */
.section-title, .card-header {
    color: var(--clr-theme);
}

.section-line {
    border-top: 3px solid var(--clr-theme);
    width: 13rem;
    margin: auto;
    margin-bottom: 25px;
}

.card-header, .card {
    border-color: var(--clr-theme);
    transition: 0.3s background-color;
}

.card:hover {
    background-color: #ff00262a;
}
/* Mission Section */