/* Form Section */
.form-content input:focus, .form-content select:focus {
    box-shadow: 0px 0px 7px var(--clr-theme);    
}

.form-content label {
    color: var(--clr-theme);
    font-weight: 500;
}

.submit-btn {
    background-color: var(--clr-theme);
    color: white;
    border: none;
    border-radius: 60px; 
    padding: 8px 20px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.submit-btn:hover {
    background-color: #ff0026c2;
}

/* Form Section */

#lookfor-section {
    margin-top: 169px;
}

.lookfor-form {
    border: solid 1px var(--clr-theme);
    border-radius: 35px;
    box-shadow: 0px 0px 4px inset var(--clr-theme);
    padding: 16px 50px;
}
