{% extends 'bloodbank/general/_general.html' %}

{% load static %}

{% block title %}Delete Patient{% endblock title %}

{% block path %}Delete Patient{% endblock path %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/bloodbank/detail.css' %}">
{% endblock head %}

{% block content %}

<section>
    <h4 class="page-title">Delete Patient</h4>
    <form method="post" class="container mt-5">
        {%csrf_token %}
        <h6>Are you sure you want to delete this patient permanently &quest;</h6>

        <h4 class="label">Patient ID Number</h4>
        <p class="data">{{object.id_num}}</p>

        <h4 class="label">Name</h4>
        <p class="data">{{object.patient_name}}</p>

        <h4 class="label">Blood Group</h4>
        <p class="data">{{object.blood_group.group_name}}</p>

        <button class="submit-btn" type="submit">Delete</button>
    </form>
</section>

{% endblock content %}