{% extends 'bloodbank/general/_general.html' %}

{% load static %}

{% block title %}Donors{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/bloodbank/pagination.css' %}">
{% endblock head %}

{% block path %}Donors{% endblock path %}

{% block content %}

<section>
    <div class="d-flex flex-column flex-sm-row justify-content-between mb-4">
        <div class="mb-4">
            <h4 class="page-title">Donors</h4>
        </div>
        <div class="mb-2">
            <a href="{% url 'donor-new' %}" class="general-btn"><i class="fs-6 fa-solid fa-plus"></i> New
                Donor</a>
        </div>
    </div>

    <!-- Search Form -->
    <form class="d-flex flex-column flex-lg-row justify-content-between form-content row-gap-4" method="get"
        action="{% url 'donor-list' %}" id="donor">

        <div class="flex-grow-1 pe-lg-4 ">
            <input type="search" class="form-control" name="q" placeholder="Enter Donor ID Number!" aria-label="Search">
        </div>
        <div class="flex-grow-1">
            <select class="form-control" name="bg" id="bg">
                <option value="all">All Blood Groups</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
            </select>
        </div>
        <div class="flex-grow-1 text-center">
            <input type="submit" class="submit-btn flex-grow-1 w-75" value="Search">
        </div>
    </form>
    <!-- Search Form -->

    <!-- Table -->
    <div class="table-responsive mt-3">
        <table class="table table-hover text-center table-responsive mt-4">
            <thead>
                <th scope="col">ID Number</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                {% for d in object_list %}
                <tr>
                    <td>{{d.id_num}}</td>
                    <td>{{d.donor_name}}</td>
                    <td>{{d.donor_phone}}</td>
                    <td>{{d.donor_email}}</td>
                    <td>{{d.donor_gender}}</td>
                    <td>{{d.age}}</td>
                    <td class="text-uppercase">{{d.blood_group.group_name}}</td>
                    <td><a href="{% url 'donor-edit' d.pk %}" style="color: var(--clr-theme);">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Table -->
    <!-- Pagination -->
    {% if page_obj.paginator.num_pages != 1 %}
    <div class="mt-5">
        <ul class="pagination">

            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>

            {% endif %}
            <li class="page-item mx-1 disabled"><a class="page-link">
                    Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}
                </a></li>

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <!-- Pagination -->
</section>


{% endblock content %}

{% block script %}
<script src="{% static 'scripts/bloodbank/donors.js' %}"></script>
{% endblock script %}