{% extends 'bloodbank/general/_general.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit Donor{% endblock title %}

{% block path %}Edit Donor{% endblock path %}

{% block content %}

<section>
    <div class="d-flex flex-column flex-sm-row justify-content-between mb-4">
        <div class="mb-4">
            <h4 class="page-title">Edit Donor</h4>
        </div>
        <div class="mb-2">
            <a href="{% url 'donor-delete' object.pk %}" class="general-btn">
                Delete Donor</a>
        </div>
    </div>
    <form method="post" class="container mt-5 form-content" novalidate>
        {%csrf_token %}
        {{form|crispy}}
        <button class="submit-btn" type="submit">Edit</button>
    </form>
</section>

{% endblock content %}